.circular-menu {
	position: fixed;
	height: 15em;
	width: 155em;
	border-radius: 50%;
	display: none;
}

/* line 13, ../sass/_circular-nav.scss */
.cn-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	display: none;
}
/* line 22, ../sass/_circular-nav.scss */
.cn-overlay.show {
	display: block;
}

/* line 28, ../sass/_circular-nav.scss */
.circular-menu > h2 {
	position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 300;
	font-style: italic;
	font-size: 12em;
	opacity: 0.1;
	cursor: default;
}

/* line 42, ../sass/_circular-nav.scss */
.cn-button {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 11;
	margin-top: -2.25em;
	margin-left: -2.25em;
	padding-top: 0em;
	width: 4.5em;
	height: 4.5em;
	border: none;
	border-radius: 50%;
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

/* line 66, ../sass/_circular-nav.scss */
.csstransforms .cn-wrapper, .csstransforms .cn-wrapper-sub {
	position: absolute;
	z-index: 10000;
	margin-top: -13em;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: transform .3s ease 0.3s;
	-moz-transition: transform .3s ease 0.3s;
	transition: transform .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;

}
.csstransforms .cn-wrapper-sub, .csstransforms .cn-wrapper-sub.opened-nav {
	width: 17em;
	height: 17em;
	margin-top: 5em;
	margin-left: 5em;
	z-index: 11000;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.csstransforms .cn-wrapper > ul {
	background: #c79254 url('giraffe.svg') no-repeat 100% 40px;
	border-radius: 50%;
	margin-left: 10px;
	width: 26em;
	height: 26em;
}

/*cover to prevent extra space of anchors from being clickable*/
/* line 90, ../sass/_circular-nav.scss */
.csstransforms .cn-wrapper:after, .csstransforms .cn-wrapper-sub:after {
	content: ".";
	display: block;
	font-size: 2em;
	width: 6.2em;
	height: 6.2em;
	position: absolute;
	left: 50%;
	margin-left: -3.1em;
	top: 50%;
	margin-top: -3.1em;
	border-radius: 50%;
	z-index: 10;
	color: transparent;
}

/* line 106, ../sass/_circular-nav.scss */
.csstransforms .opened-nav{
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: transform .3s ease;
	-moz-transition: transform .3s ease;
	transition: transform .3s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}

/* line 119, ../sass/_circular-nav.scss */
.csstransforms .cn-wrapper li, .csstransforms .cn-wrapper-sub li {
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;

	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;


}

/* line 142, ../sass/_circular-nav.scss */
.csstransforms .cn-wrapper li a, .csstransforms .cn-wrapper-sub li a {
	position: absolute;
	/* fix the displacement bug in webkit browsers when using tab key */
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: #fff;
	background: -webkit-radial-gradient(transparent 55%, white 35%);
	background: -moz-radial-gradient(transparent 55%, white 35%);
	background: radial-gradient(transparent 55%, #ffffff 35%);
	color: #429a67;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 1.5;
	-webkit-transform: skew(0deg) rotate(-45deg) scale(1);
	-moz-transform: skew(0deg) rotate(-45deg) scale(1);
	-ms-transform: skew(0deg) rotate(-45deg) scale(1);
	transform: skew(0deg) rotate(-45deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}
.csstransforms .cn-wrapper-sub li a{
	background: -webkit-radial-gradient(transparent 55%, #429a67 35%);
	background: -moz-radial-gradient(transparent 55%, #429a67 35%);
	background: radial-gradient(transparent 55%, #429a67 35%);
	color: #fff;
}

.csstransforms .cn-wrapper-sub li{
	margin-top: -4.3em;
	margin-left: -10em;
}

.csstransforms .cn-wrapper-sub li a{
	width: 11.3em;
	height: 11.3em;
	right: -5.65em;
	bottom: -5.65em;
}

/* line 169, ../sass/_circular-nav.scss */
.csstransforms .cn-wrapper li a span {
	position: relative;
	top: 1.8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	text-transform: uppercase;
}

/* line 180, ../sass/_circular-nav.scss */
.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
	background: -webkit-radial-gradient(transparent 55%, #429a67 35%);
	background: -moz-radial-gradient(transparent 55%, #429a67 35%);
	background: radial-gradient(transparent 55%, #429a67 35%);
	color: #fff;
}
.csstransforms .cn-wrapper-sub li a:hover,
.csstransforms .cn-wrapper-sub li a:active,
.csstransforms .cn-wrapper-sub li a:focus{
	background: -webkit-radial-gradient(transparent 55%, #fff 35%);
	background: -moz-radial-gradient(transparent 55%, #fff 35%);
	background: radial-gradient(transparent 55%, #fff 35%);
	color: #429a67;
}
.csstransforms .cn-wrapper-sub li a:hover,
.csstransforms .cn-wrapper-sub li a:active,
.csstransforms .cn-wrapper-sub li a:focus {

}

/* line 186, ../sass/_circular-nav.scss */
.csstransforms .opened-nav li {

}

/* line 192, ../sass/_circular-nav.scss */
.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(-45deg) skew(0deg);
	-moz-transform: rotate(-45deg) skew(0deg);
	-ms-transform: rotate(-45deg) skew(0deg);
	transform: rotate(-45deg) skew(0deg);
}

/* line 199, ../sass/_circular-nav.scss */
.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(45deg) skew(0deg);
	-moz-transform: rotate(45deg) skew(0deg);
	-ms-transform: rotate(45deg) skew(0deg);
	transform: rotate(45deg) skew(0deg);
}

/* line 206, ../sass/_circular-nav.scss */
.csstransforms .opened-nav li:nth-child(3) {
	-webkit-transform: rotate(135deg) skew(0deg);
	-moz-transform: rotate(135deg) skew(0deg);
	-ms-transform: rotate(135deg) skew(0deg);
	transform: rotate(135deg) skew(0deg);
}

/* line 213, ../sass/_circular-nav.scss */
.csstransforms .opened-nav li:nth-child(4) {
	-webkit-transform: rotate(225deg) skew(0deg);
	-moz-transform: rotate(225deg) skew(0deg);
	-ms-transform: rotate(225deg) skew(0deg);
	transform: rotate(225deg) skew(0deg);
}

@media only screen and (max-width: 620px) {
	/* line 286, ../sass/_circular-nav.scss */
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}
@media only screen and (max-width: 500px) {
	/* line 294, ../sass/_circular-nav.scss */
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	/* line 298, ../sass/_circular-nav.scss */
	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}
@media only screen and (max-width: 480px) {
	/* line 307, ../sass/_circular-nav.scss */
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

	/* line 311, ../sass/_circular-nav.scss */
	.cn-button {
		font-size: 1em;
	}
}
@media only screen and (max-width: 420px) {
	/* line 317, ../sass/_circular-nav.scss */
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}
